In [1]:
import pandas as pd
import numpy as np

In [2]:
"""
pandas objects: series
"""
ser = pd.Series([0.25, 0.5, 0.75, 1.0])
print(ser)

#values
arr = ser.values
print(arr)

#index
ind = ser.index
print(ind)
print(ind.values)  # 인덱스의 값만 출력하고 싶을 때

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64
[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)
[0 1 2 3]

In [3]:
#label-based indexing 
ser = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a','b','c','d'])
print(ser)
print(ser['b'])

#dictionary:<key : value>
dict = {'a':1,2:'two','thrid':True}
print(dict)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
0.5
{'a': 1, 2: 'two', 'thrid': True}

In [4]:
"""
Creating a Series object from a Dictionary
"""
population_dict = {'California': 38332521,
                  'Texas': 26448193,
                  'New York': 19651127,
                  'Florida': 19552860,
                  'Illinois': 12882135}
population = pd.Series(population_dict)
print(population)
population['California':'New York']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

California    38332521
Texas         26448193
New York      19651127
dtype: int64

In [5]:
"""
Data Frame 
"""
area_dict ={'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
print(area)

states = pd.DataFrame({'population': population,'area':area})
print(states)

print(states.index)
print(states.columns)
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64
            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995
Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')
Index(['population', 'area'], dtype='object')

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [6]:
arr = np.random.rand(3,2)
print(arr)

pd.DataFrame(arr, columns=['foo','bar'], index = ['a','b','c'])

[[0.87058015 0.93869222]
 [0.13043304 0.05229319]
 [0.10527348 0.69638759]]

        foo       bar
a  0.870580  0.938692
b  0.130433  0.052293
c  0.105273  0.696388

In [7]:
ser = pd.Series([0.25,0.5,0.75,1.0], index = ['a','b','c','d'])
print(ser)
print(ser['b'])
print('a' in ser)
print(0.25 in ser)

ser.keys()                 # get the all keys(= indices)
ser['e'] = 1.25            # add a new value
ser['a'] = 0.125           # reassignment

print(ser['a':'c'])
print(ser[(ser >0.3) & (ser < 0.8)])
print(ser[['a','e']])

print(ser['a':'c'])        #명목적 인덱싱: 마지막 인덱스 값 포함 
print(ser[0:2])            #암묵적 인덱싱: 마지막 인덱스 값 포함되지 않음

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
0.5
True
False
a    0.125
b    0.500
c    0.750
dtype: float64
b    0.50
c    0.75
dtype: float64
a    0.125
e    1.250
dtype: float64
a    0.125
b    0.500
c    0.750
dtype: float64
a    0.125
b    0.500
dtype: float64

In [8]:
print(states['area'],'\n')   
print(states.area)

states['density'] = states['population'] / states['area']
print(states)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64
            population    area     density
California    38332521  423967   90.413926
Texas         26448193  695662   38.018740
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

In [9]:
"""
indexers
"""
print(states.loc['Texas': 'New York'])
print(states.iloc[:3,:2])

states.loc[states.density > 100, ['population','density']]

          population    area     density
Texas       26448193  695662   38.018740
New York    19651127  141297  139.076746
            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297

          population     density
New York    19651127  139.076746
Florida     19552860  114.806121