In [5]:
import numpy as np
import pandas as pd

In [6]:
"""
None : Pythonic missing data
"""

# None objects as missing values

arr1 = np.array([1, None, 3, 4])
arr1

array([1, None, 3, 4], dtype=object)

In [7]:
# python objects are incompatible with numpy and pandas operation
# print(np.sum(arr1))

In [8]:
"""
NaN : Missing Numerical Data
"""
arr1 = np.array([1, np.nan, 3, 4])
print(arr1.dtype)
print(np.sum(arr1))

float64
nan

In [9]:
# Arithmetic with NaN will be another Data

In [10]:
# Pandas automatically converts the None to a NaN value.

ser = pd.Series([1,np.nan,2,None])
print(ser)
print(ser.dtype)
# ser[1] = 'string'
# print(ser)
# print(ser.dtype)

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64
float64

In [11]:
"""
Detecting null values
"""

# isnull()
print(ser)
ser.isnull()

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

0    False
1     True
2    False
3     True
dtype: bool

In [12]:
# notnull()
ser.notnull()

0     True
1    False
2     True
3    False
dtype: bool

In [13]:
"""
Dropping null values
"""

#dropna() axis 매개변수는 dataFrame 경우만.
ser.dropna(how = 'all')

0    1.0
2    2.0
dtype: float64

In [14]:
"""
Filling Null Values
"""

# fillna()

ser = pd.Series([1, np.nan, 2, None, 3], index = list('abcde'))
print(ser)

print(ser.fillna(0))

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64
a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

In [15]:
# Forwad-fill = LOCF
ser.fillna(method = 'ffill')
# Backward-fill = NOCB
print(ser.bfill())
print(ser.fillna(method = 'bfill'))

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64
a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64